:host {
  width: 80%;
  display: block;
  margin: 0px auto;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;

  &:last-of-type {
    margin-top: 10px;
    color: grey;
    font-weight: bold;
    font-size: 15px;
  }
}

.go-back-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  fa-icon {
    margin-right: 10px;
  }
}

.film-container {
  display: flex;
  margin-bottom: 40px;

  .img-container {
    margin-right: 30px;
    width: 25%;
    height: 550px;
    border-radius: 5px;

    img {
      width: 100%;
      opacity: 0;
      transition: opacity 1s;
      border-radius: 5px;

      &.show {
        opacity: 1;
      }
    }
  }

  .film-details {
    display: flex;
    flex-direction: column;
    flex: 1;

    .film-top {
      display: flex;
      align-items: center;

      h1 {
        margin-right: auto;
        font-size: 40px;
        font-weight: bold;
        color: var(--text-primary);
      }

      .ratings {
        display: flex;

        .rating {
          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            text-transform: uppercase;
            color: var(--text-primary);
          }

          .note {
            display: flex;
            align-items: center;
            margin-top: 5px;
            color: var(--text-primary);

            fa-icon {
              margin-right: 5px;
              color: #f5c518;
            }

            p {
              font-weight: bold;

              span {
                font-weight: 300;
              }
            }
          }

          &:last-of-type {
            margin-left: 20px;

            .note fa-icon {
              color: #2196f3;
            }
          }
        }
      }
    }

    .film-middle {
      display: flex;
      align-items: center;
      margin: 20px 0px;

      .film-middle-left {
        display: flex;
        flex-direction: column;
        color: var(--text-primary);
      }

      .film-middle-right {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;

        button {
          text-align: center;
        }
      }
    }

    .description {
      font-weight: 400;
      margin: 20px 0px;
      color: var(--text-primary);
    }

    .film-label {
      margin-top: 30px;
      display: flex;
      align-items: center;

      h3 {
        margin: 0px;
        margin-right: 20px;
        color: var(--text-primary);
      }

      p {
        color: #2196f3;
        font-weight: 600;
      }
    }
  }
}

.note-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;

  .etoiles {
    font-size: 20px;
    position: relative;
    justify-self: center;
    margin: 20px 0px;
    width: fit-content;

    .stars {
      display: flex;
      color: #888888;
      z-index: 0;

      &.filled {
        position: absolute;
        top: 0;
        left: 0;
        color: #2196f3;
        width: 0%;
        z-index: 1;
        overflow: hidden;
      }

      fa-icon {
        font-size: 35px;

        &:hover {
          .filled {
            width: 10%;
          }
        }
      }
    }

    .slider-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: -12px;
      opacity: 0;
      z-index: 2;
    }
  }

  .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
