.light {
  --background-primary: white;
  --header-background: #2196f3;
  --header-input-background: #42a6f5;
  --text-primary: #1e1b1b;
  --search-result-color: white;
  --hover-color: #e7e3e3;
  --user-input-background: #e2e6ea;
  --theme-color: #1e1b1b;
  --theme-ball-color: white;
  --modal-color: white;
}
