.dark {
  --background-primary: black;
  --header-background: #121212;
  --header-input-background: #2b2c2c;
  --text-primary: white;
  --search-result-color: #121212;
  --hover-color: #2b2c2c;
  --user-input-background: #2b2c2c;
  --theme-color: white;
  --theme-ball-color: #121212;
  --modal-color: #121212;
}
